@include wallet;
.sendmoney {
  height: 100vh;
  .wallets {
    margin-top: 1rem;
  }

  &__wrapper {
    width: 60%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h2 {
      text-align: center;
      margin: 1rem 0;
    }
    .css-b62m3t-container {
      width: 60%;
      color: #333;
    }
    &__inputs {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      .input {
        color: #333;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2vw;
        padding: 0 1vw;
        &:nth-of-type(1) {
          margin-right: 1rem;
        }
        input {
          height: 5vh;
          width: 15vw;
          padding: 1vw;
          border: none;

          &:focus {
            outline: none;
          }
        }
      }
    }
    .quick {
      button {
        border-radius: 2vw;
        padding: 2vh 6vw;
        display: flex;
        gap: 1vw;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;
        font-weight: 900;
        transition: 0.4s ease-in-out;
        svg {
          font-size: larger;
        }
        &:hover {
          background-color: #c70f61;
        }
      }
    }
  }
}
