.sidebar {
  background-color: #212529;
  color: #fff;

  .brand {
    background-color: #000;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-weight: 900;
      letter-spacing: 0.3vw;
      span {
        color: #c70f61;
        font-weight: 900;
      }
    }
  }
  .links {

    li {
      width: 60%;
      list-style-type: none;
      margin: 0 auto;
      margin-top: 2rem;
      .active {
        color: #c70f61;
        border-bottom: 1px solid #c70f61;
      }
      a {
        padding: .5rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        gap: 0.7rem;
        transition: 0.5s ease-in-out;
        &:hover {
          color: #c70f61;
        }
      }
    }
  }
}
