.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.363);
  align-items: center;

}
.header::after {
  content: "";
  position: absolute;
  left: -2px;
  top: 106px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: 100%;
  height: 4px;
  z-index: -1;
  animation: steam 20s linear infinite;
}
.list {
  display: flex;
}
.list li {
  margin-left: 20px;
  list-style-type: none;
}
.list li a {
  position: relative;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  z-index: 3;
  background: #fff;
  letter-spacing: 2px;
}
.list li a:hover::before,
.list li a:hover:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 250%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
  

}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.list li a:hover::after {
  filter: blur(50px);
}

.logo {
  width: 70px;
  height: 70px;
  margin-right: 2rem;
}
