.callToAction{
    width:100%;
    background-color: blueviolet;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.callToActionTitle{
    font-size: 2.8rem;
    color: #fff;

}
.inputWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.callToActionInput{
    width: 230px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 7px ;
    padding-left: 2rem;
    outline: none;
    border: 0;
    background-color: #fff;
    
}
.sreachIcon{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 10px;
    opacity: 0.5;
}