
.container{
    margin: 250px auto 0 auto;
    width: 50%;
    background-color: rgba(246, 246, 246, 0.5);
    padding: 2rem;
    border-radius: 7px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
h1{
    color: rgba(240, 46, 170, 1) ;
}
button{
    background-color:rgba(240, 46, 170, 0.5) ;
}
a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding:1rem;
    
}