.sliderWrapper{
    width:80%;
    margin: 1rem auto;
    height: 320px;
}
.sliderWrapper h2{
    text-align:center;
    width: 50%;
    margin: 0 auto;
    font-size: 2.8rem ;
    color: tomato;
    padding: 2rem 0;
}
.slick-slider
{
    padding-left: 10rem;
}